<h1>Edit Page: <%= @title %></h1>

<div>
  <form>
    <fieldset>
      <label for="content">Content:</label>
      <textarea rows="10" columns="50" name="content" id="content"><%= @content %></textarea>
    </fieldset>
    <input type="submit">
  </form>
</div>

<a href="/">Back to Index</a>
