<h1>Add New Page</h1>

<div>
  <form>
    <fieldset>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title">
    </fieldset>
    <fieldset>
      <label for="content">Content:</label>
      <textarea rows="10" columns="50" name="content" id="content"></textarea>
    </fieldset>
    <input type="submit">
  </form>
</div>

<a href="/">Back to Index</a>
