<h1><%= @title %></h1>

<p><%= h @content %></p>

<div>
  <a href="/<%= @title %>/edit">Edit This Page</a>
  <form method="POST" action="/<%= @title %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Page">
  </form>
</div>
