<!DOCTYPE html>
<html>
  <head>
    <%# sinatra handles public files and will make it appear in root directory %>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Welcome to Wiki-Natra</h1>

    <p>Visit /PageName to view a page.</p>
    <p>Or, you can <a href="/new">create a new page</a></p>
  </body>
</html>
